{% extends "base.html" %}

{% block content %}
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><h2>{{ title }}</h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/plots">Plots</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row"></div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-2">

                <img src="{{ url_for('static', filename='aavclogo.png') }}" width="180" height="180">


            </div>
            <div class="col-md-9">
                <ul>
                    <li>People who have visited more than two tag locations have an area painted on this map
                        that covers the outer bounds of their "range."
                    <li>Ranges are coloured according to a clustering algorithm that groups people by the
                        likelihood that they will transfer a bike-tag.
                    <li>The larger circular markers indicate the centroid for each person's range and are also colored
                        by
                        cluster.
                    <li> Use the menu at right to select
                        one or more people. You can turn layers on and off in the map.
                    <li> Below the map there is a sortable, filterable table of all our players.
                </ul>
            </div>
        </div>
    <hr>
        <div class="row">
            <div class="col-md-9">
                {{ iframe|safe }}
            </div>
            <div class="col-md-3">
                <em>Control- or shift- select people you want to see on the map.</em>
                <em> Use Control-A to select everyone</em>
                <p></p>
                <form method="POST">
                    {{ peopleform.hidden_tag() }}

                    {{ peopleform.options.label }}<br>
                    {{ peopleform.options(size=18, multiple=True) }}<br>

                    {{ peopleform.peoplesubmit() }}
                </form>
            </div>
        </div>

        <hr>
        <h3>People Table</h3>
        <div id="table"></div>

        <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
        <script>
            new gridjs.Grid({
                columns: [
                    {id: 'person', name: 'Name'},
                    {id: 'cluster', name: 'Cluster'},
                    {id: 'area', name: 'Area (sq.mi.)', sort: true},
                    {
                        id: 'location_density', name: 'Location Density (tags/sq.mi.)',
                        sort: {
                            compare: (a, b) => {
                                if (parseFloat(a) > parseFloat(b)) {
                                    return 1;
                                } else if (parseFloat(b) > parseFloat(a)) {
                                    return -1;
                                } else {
                                    return 0;
                                }
                            },
                        }
                    },
                    {
                        id: 'location_count', name: 'Location Count',
                        sort: {
                            compare: (a, b) => {
                                if (parseFloat(a) > parseFloat(b)) {
                                    return 1;
                                } else if (parseFloat(b) > parseFloat(a)) {
                                    return -1;
                                } else {
                                    return 0;
                                }
                            },
                        },
                    }
                ],
                data: [
                    {% for person in peopletable %}
                        {
                            person: '{{ person.person }}',
                            cluster: '{{ person.cluster }}',
                            area: '{{ person.convex_hull_area }}',
                            location_density: '{{ person.location_density }}',
                            location_count: '{{ person.location_count }}'
                        },
                    {% endfor %}
                ],
                search: {
                    selector: (cell, rowIndex, cellIndex) => [0, 1, 4].includes(cellIndex) ? cell : null,
                },
                sort: true,
                pagination: true,
            }).render(document.getElementById('table'));
        </script>

{% endblock %}