{% extends "base.html" %}

{% block content %}
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><h2>{{ title }}</h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/plots">Plots</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row"></div>
    <div class="container">
        <div class="row"><p></p></div>
        <div class="row justify-content-end">
            <div class="col-md-2">

                <img src="{{ url_for('static', filename='aavclogo.png') }}" width="180" height="180">


            </div>
            <div class="col-md-9">
                <ul>
                    <li>People who have visited more than two tag locations have an area painted on this map
                        that covers the outer bounds of their "range."
                    <li>Ranges are coloured according to a clustering algorithm that groups people by the
                        likelihood that they will transfer a bike-tag.
                    <li>The larger circular markers indicate the centroid for each person's range and are also colored
                        by
                        cluster.
                    <li> You can turn layers on and off in the map.
                    <li> Below the map there is a sortable, filterable table of all our players. You can select
                        individuals
                        from the table and click the "Visualize Selected Rows" button to see their ranges on the map.
                    <li> Press "Visualize Selected Rows" with no-one selected to see all the ranges again.
                    <li> You can also click on the "Plots" link in the navbar to see some plots of the data.
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                {{ iframe|safe }}
            </div>
        </div>
        <div class="row">
            <hr>
            <h3>People Table</h3>
            <div id="table"></div>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
            <script type="text/javascript" charset="utf8"
                    src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

            <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>

            <form method="POST" action="/">
                <table id="myTable" class="display">
                    <thead>
                    <tr>
                        <!-- Your table headings here -->
                        <th>Select</th>
                        <th>Name</th>
                        <th>Cluster</th>
                        <th>Area (sq.mi.)</th>
                        <th>Location Density (tags/sq.mi.)</th>
                        <th>Location Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- assuming 'data' is passed to render_template -->
                    {% for person in peopletable %}
                        <tr>
                            <td><input type="checkbox" name="row" value="{{ person.person_id }}"/></td>
                            <td>{{ person.person }}</td>
                            <td>{{ person.cluster }}</td>
                            <td>{{ person.convex_hull_area }}</td>
                            <td>{{ person.location_density }}</td>
                            <td>{{ person.location_count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <input type="submit" value="Visualize Selected Rows">
            </form>
            <script>$(document).ready(function () {
                $('#myTable').DataTable();
            });</script>
        </div>
        <div class="row"><p></p></div>
        <div class="row justify-content-center bg-dark">
            <div class="col-md-6">
                <h1 class="fw-light mt-4 text-white">Bike Tag at Ann Arbor Velo Club</h1>
            </div>
        </div>
    </div>
{% endblock %}